<h1 class="text-center title-orbit"> Top 5 Mas Comentados </h1>
<div class="row">
	<div class="small-2 columns">
		<%= link_to top_comentados[3] do %>
		<div class="service">
			<div class="service-icon-box">
				<%= image_tag get_file_icon(@top_comentados[3]), class:"service-icon" %>
			</div>
			<h4 class="service-heading">4# <%= top_comentados[3].titulo[0..20]%></h4>
			<%if top_comentados[3].descripcion.length < 80 %>
				<p class="service-description"><%=top_comentados[3].descripcion%></p>
			<%else%>
				<p class="service-description"><%=top_comentados[3].descripcion[0..75]%>...</p>
			<%end%>
		</div>
		<%end%>
	</div>

	<div class="small-2 columns">
		<%= link_to top_comentados[1] do %>
		<div class="service">
			<div class="service-icon-box">
				<%= image_tag get_file_icon(top_comentados[1]), class:"service-icon" %>
			</div>
			<h4 class="service-heading">2# <%=top_comentados[1].titulo[0..20]%></h4>
			<%if top_comentados[1].descripcion.length < 80 %>
				<p class="service-description"><%=top_comentados[1].descripcion %></p>
			<%else%>
				<p class="service-description"><%=top_comentados[1].descripcion[0..75] %>...</p>
			<%end%>
		</div>
		<%end%>
	</div>

	<div class="small-4 columns">
		<%= link_to top_comentados[0] do %>
		<div class="service">
			<div class="service-icon-box">
				<%= image_tag get_file_icon(top_comentados[0]), class:"service-icon" %>
			</div>
			<h4 class="service-heading">1# <%=top_comentados[0].titulo[0..20]%></h4>
			<%if top_comentados[0].descripcion.length < 80 %>
				<p class="service-description"><%=top_comentados[0].descripcion%></p>
			<%else%>
				<p class="service-description"><%=top_comentados[0].descripcion[0..75]%>...</p>
			<%end%>
		</div>
		<%end%>
	</div>

	<div class="small-2 columns">
		<%= link_to top_comentados[2] do %>
		<div class="service">
			<div class="service-icon-box">
				<%= image_tag get_file_icon(top_comentados[2]), class:"service-icon" %>
			</div>
			<h4 class="service-heading">3# <%=top_comentados[2].titulo[0..20]%></h4>
			<%if top_comentados[2].descripcion.length < 80 %>
				<p class="service-description"><%=top_comentados[2].descripcion %></p>
			<%else%>
				<p class="service-description"><%=top_comentados[2].descripcion[0..75] %>...</p>
			<%end%>
		</div>
		<%end%>
	</div>

	<div class="small-2 columns">
		<%= link_to top_comentados[4] do %>
		<div class="service">
			<div class="service-icon-box">
				<%= image_tag get_file_icon(top_descargas[4]), class:"service-icon" %>
			</div>
			<h4 class="service-heading">5# <%=top_descargas[4].titulo[0..20]%></h4>
			<%if top_comentados[4].descripcion.length < 80 %>
				<p class="service-description"><%=top_comentados[4].descripcion%></p>
			<%else%>
				<p class="service-description"><%=top_comentados[4].descripcion[0..75]%>...</p>
			<%end%>
		</div>
		<%end%>
	</div>
</div>